body {
  font-size: 18px;
  background-image: url(../../images/youngistan.png);
}

.carousel-item {
  padding: 0;
}

.innerrow {
  margin: 30px 0;
  box-shadow: rgb(0 0 0 / 50%) 0px 1px 2px;
  padding: 30px;
}

.spac {
  margin-left: 10px;
}

.profile-head {
  /* margin-left: 40%; */
  display: block;
}

.my-img {
  margin-left: 40%;
}

.heads {
  margin-top: 30px;
  padding: 20px;
  /* background-color: #86211b; */
  color: white;
  background: radial-gradient(#981d26, #500e10ea);
}

body {
  background-color: rgb(235, 231, 231);
}

.maincontainer {
  background-color: white;
}

.flexes {
  display: flex;
  /* border: 1px solid black; */
  /* box-shadow: rgb(0 0 0 / 50%) 0px 1px 2px; */
  padding-top: 5px;
}

.cover {
  /* background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80); */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #500e10ea; */
  background: radial-gradient(#ebd4cc, #7b5656);
}

.edits {
  color: white;
  width: 25%;
  font-size: large;
  margin: 0 auto;
}

.text-white-prof {
  margin-top: 10px;
  margin-left: 46%;
}

.list-inline-item {
  padding: 10px;
}

.profile {
  margin-top: 30px;
}

.left {
  text-align: left;
  font-weight: bold;
}
.right {
  float: right;
}

.nobull {
  list-style-type: none;
}

.listele {
  padding: 10px;
  /* background-color: #f1f1f1; */
  margin: 10px;
}

.listele a {
  text-decoration: none;
  cursor: pointer;
  color: #86211b;
}

.listele a:hover {
  color: #444;
}

.card-img-top {
  height: 400px;
  margin: 0 auto;
}

.card {
  width: 70%;
  margin: 20px auto;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.hert {
  margin-right: 15px;
}

.hert:hover {
  color: red;
  cursor: pointer;
}

.cmt:hover {
  color: blue;
  cursor: pointer;
}

.vmore {
  width: 40%;
  margin: 0 auto;
  background-color: #8a221b;
  color: white;
}

.vmore:hover {
  background-color: white;
  color: #86211b;
  border: 1px solid #86211b;
}

@media (min-width: 370px) and (max-width: 430px) {
  .display-4 {
    margin-left: 20%;
  }
  .my-img {
    margin-left: 17%;
    height: 100px;
    width: 100px;
  }
  .edits {
    margin-left: 15%;
    width: 80%;
  }
  .text-white-prof {
    margin-left: 20%;
  }
  .heads {
    padding: 30px 10px;
  }
  .regeve {
    padding: 0 !important;
  }
  .nobull {
    padding: 0 !important;
  }
  .card {
    padding: 0;
    height: 400px;
  }
  .card-img-top {
    height: 150px;
  }
  .card-title {
    font-size: small;
  }
  .card-text {
    font-size: small;
  }
  .statis {
    display: none;
  }
}

@media (min-width: 430px) and (max-width: 470px) {
  .display-4 {
    margin-left: 20%;
  }
  .my-img {
    margin-left: 15%;
    height: 150px;
    width: 150px;
  }
  .edits {
    margin-left: 18%;
    width: 78%;
  }
  .text-white-prof {
    margin-left: 30%;
  }
  .heads {
    padding: 30px 10px;
  }
  .regeve {
    padding: 0 !important;
  }
  .nobull {
    padding: 0 !important;
  }
  .card {
    padding: 0;
    height: 400px;
  }
  .card-img-top {
    height: 150px;
  }
  .card-title {
    font-size: small;
  }
  .card-text {
    font-size: small;
  }
  .statis {
    display: none;
  }
}

@media (min-width: 470px) and (max-width: 570px) {
  .display-4 {
    margin-left: 20%;
  }
  .my-img {
    margin-left: 15%;
    height: 180px;
    width: 180px;
  }
  .edits {
    margin-left: 18%;
    width: 75%;
  }
  .text-white-prof {
    margin-left: 30%;
  }
  .heads {
    padding: 30px 10px;
  }
  .regeve {
    padding: 0 !important;
  }
  .nobull {
    padding: 0 !important;
  }
  .card {
    padding: 0;
    height: 400px;
  }
  .card-img-top {
    height: 150px;
  }
  .card-title {
    font-size: small;
  }
  .card-text {
    font-size: small;
  }
  .statis {
    display: none;
  }
}

@media (min-width: 570px) and (max-width: 600px) {
  .display-4 {
    margin-left: 28%;
  }
  .my-img {
    margin-left: 19%;
  }
  .edits {
    margin-left: 18%;
    width: 75%;
  }
  .statis {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .display-4 {
    margin-left: 28%;
  }
  .my-img {
    margin-left: 25%;
  }
  .edits {
    margin-left: 25%;
    width: 65%;
  }
}

@media (min-width: 700px) and (max-width: 768px) {
  .display-4 {
    margin-left: 33%;
  }
  .my-img {
    margin-left: 32%;
  }
  .edits {
    margin-left: 32%;
    width: 56%;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .display-4 {
    margin-left: 33%;
  }
  .my-img {
    margin-left: 33%;
  }
  .edits {
    margin-left: 32%;
    width: 50%;
  }
}
@media (min-width: 800px) and (max-width: 940px) {
  .edits {
    margin-left: 35%;
    width: 45%;
  }
  .my-img {
    margin-left: 35%;
  }
}
@media (min-width: 940px) and (max-width: 992px) {
  .edits {
    margin-left: 35%;
    width: 40%;
  }
  .my-img {
    margin-left: 35%;
  }
}
@media (min-width: 992px) and (max-width: 1110px) {
  .edits {
    margin-left: 35%;
    width: 35%;
  }
  .my-img {
    margin-left: 35%;
  }
}
@media (min-width: 1110px) and (max-width: 1190px) {
  .edits {
    margin-left: 35%;
    width: 32%;
  }
  .my-img {
    margin-left: 35%;
  }
}
@media (min-width: 1190px) and (max-width: 1220px) {
  .edits {
    margin-left: 40%;
    width: 30%;
  }
}
@media (min-width: 1220px) and (max-width: 1300px) {
  .edits {
    margin-left: 40%;
    width: 29%;
  }
}
@media (min-width: 1300px) and (max-width: 1400px) {
  .edits {
    margin-left: 40%;
    width: 27%;
  }
}
@media (min-width: 1400px) and (max-width: 1450px) {
  .edits {
    margin-left: 39%;
    width: 27%;
  }
}
@media (min-width: 1450px) and (max-width: 1530px) {
  .edits {
    margin-left: 38%;
    width: 27%;
  }
}
@media (min-width: 1530px) and (max-width: 1570px) {
  .edits {
    margin-left: 38%;
    width: 26%;
  }
}
@media (min-width: 1570px) and (max-width: 1650px) {
  .edits {
    margin-left: 37%;
    width: 27%;
  }
}
