.head
{
    background-color: #86211B
}
.foot
{
    background-color: #58100c;
}
.col-md-2 h6
{
    margin-bottom: 10px;
}
@media(max-width: 767px)
{
    .col-md-2 .padbot
    {
        margin-bottom: 50px;
    }
}
